h1 {
	color: white; 
}
body {
  font-family: cursive;
  background: pink;
}
h2 { 
	text-transform: uppercase;

}
p {
	margin-top: 50px;

}
li {
     color: white 
}
img{
    width: 500px;
}
img{
    height: 300px;
}
#grad {
  background-image: repeating-linear-gradient(red, yellow 10%, green 20%);
}